<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BotRunner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BotRunner.Properties.Settings>
            <setting name="MapFileName" serializeAs="String">
                <value>map.txt</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>log.txt</value>
            </setting>
            <setting name="BotMetaFileName" serializeAs="String">
                <value>bot.json</value>
            </setting>
            <setting name="MaxBotRuntimeSeconds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ShipPlacementFile" serializeAs="String">
                <value>place.txt</value>
            </setting>
            <setting name="CommandFileTxt" serializeAs="String">
                <value>command.txt</value>
            </setting>
            <setting name="StateFileName" serializeAs="String">
                <value>state.json</value>
            </setting>
            <setting name="RoundCommandFileName" serializeAs="String">
                <value>round-command.json</value>
            </setting>
        </BotRunner.Properties.Settings>
    </applicationSettings>
</configuration>