<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Domain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Domain.Properties.Settings>
            <setting name="PointsHit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PointsShipSunk" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PointsPlayerKilled" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SmallMapSize" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="MediumMapSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LargeMapSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="EnergySmallMap" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="EnergyMediumMap" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EnergyLargMap" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxShieldRadiusSmall" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxShieldRadiusMedium" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxShieldRadiusLarge" serializeAs="String">
                <value>3</value>
            </setting>
        </Domain.Properties.Settings>
    </applicationSettings>
</configuration>